@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./roboto-font/roboto-normal.woff2') format('woff2'),
         url('./roboto-font/roboto-normal.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url('./roboto-font/roboto-normal-italic.woff2') format('woff2'),
         url('./roboto-font/roboto-normal-italic.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('./roboto-font/roboto-bold.woff2') format('woff2'),
         url('./roboto-font/roboto-bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url('./roboto-font/roboto-bold-italic.woff2') format('woff2'),
         url('./roboto-font/roboto-bold-italic.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('./roboto-font/roboto-light.woff2') format('woff2'),
         url('./roboto-font/roboto-light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('./roboto-font/roboto-light-italic.woff2') format('woff2'),
         url('./roboto-font/roboto-light-italic.woff') format('woff');
}

* {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', Arial, sans-serif;
    color: black;
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chess-board-container {
    margin: 40px 0px;

    display: flex;
    justify-content: center;
}

.chess-board {
    min-width: 800px;
    min-height: 880px;
}

.row-label {
    min-width: 40px;
    border: 2px solid;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-label-empty {
    width: 36px;
    flex-basis: 36px;
}

.row-label-number {
    width: 36px;
    flex-grow: 1;
    border-top: 1px solid;
    border-bottom: 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

.row-label-number-one {
    border-bottom: 2px solid;
}

.row-label-number-eight {
    border-top: 2px solid;
}

.row-label-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.row-label-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.column-label {
    height: 40px;
    border-top: 2px solid;
    border-bottom: 2px solid;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column-label-letter {
    height: 36px;
    flex-grow: 1;
    border-left: 1px solid;
    border-right: 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

.column-label-letter-a {
    border-left: 0px;
}

.column-label-letter-h {
    border-right: 0px;
}

.column-label,
.column-label-letter,
.row-label,
.row-label-number {
    border-color: grey;
    background-color: lightgrey;
}

.row {
    height: 100px;

    display: flex;
}

.square {
    flex-basis: 100px;
    height: 100px;
}

.image {
    width: 100px;
    height: 100px;
}

.white-square {
    background-color: white;
}

.black-square {
    background-color: grey;
}

.previous-step-on-white-square {
    background-color: rgb(255, 255, 200);
}

.previous-step-on-black-square {
    background-color: rgb(255, 255, 100);
}

.current-step-on-white-square {
    background-color: rgb(255, 255, 200);
}

.current-step-on-black-square {
    background-color: rgb(255, 255, 100);
}

.move-on-white-square {
    background-color: lightgreen;
}

.move-on-black-square {
    background-color: darkgreen;
}

.capture-on-white-square {
    background-color: lightpink;
}

.capture-on-black-square {
    background-color: darkred;
}